@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .paused {
    animation-play-state: paused;
  }
}

.gradient-text1 {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #eab308,
    #ec4899,
    #a855f7,
    #ec4899,
    #eab308
  );
  background-size: 300% 300%;
  background-clip: text;
  animation: 5s gradient-1 infinite linear;
}
.gradient-text2 {
  background: linear-gradient(
    to right,
    rgb(96 165 250),
    rgb(88 28 135),
    rgb(46 16 101),
    rgb(88 28 135),
    rgb(96 165 250),
    rgb(88 28 135),
    rgb(46 16 101)
  );
  background-size: 300% 300%;
  background-clip: text;
  animation: 5s gradient-2 infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes gradient-1 {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
@keyframes gradient-2 {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
.slide {
  white-space: nowrap;
}
.slide:hover .skills-slide {
  animation-play-state: paused;
}

.skills-slide {
  /* display: inline-block; */
  transition: all 0.5s ease;
  animation: 12s slide infinite linear;
}
